.header__link {
  text-decoration: none;
  color: inherit;
  opacity: 0.5;
  display: inline;
  line-height: 24px;
  padding-bottom: 30px;
  white-space: nowrap;
}

.header__link_active {
  border-bottom: 3px solid white;
  border-color: inherit;
  opacity: 1;
  color: inherit;
}

.header__link_disabled {
  display: none;
}
