.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 16px;
}

/* .header__menu:last-child {
  margin-right: 0;
}
} */
