.news-card__image {
  background-image: url(../../../images/image_08.png);
  position: relative;
  width: 100%;
  max-width: 400px;
  padding-bottom: 53%;
  object-fit: cover;
    border-radius: 16px 16px 0 0;
  }